<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
    <meta name="msvalidate.01" content="F5A881E037030639C95B0A318BDF7911" /> 
    <body>
        <div class="paper">
            <div class="paper-main">
                <% if (is_post() || is_page()) { %>
                    <%- partial('_partial/post-header') %>
                <% } else { %>
                    <%- partial('_partial/header') %>
                <% } %>
                <%- body %>
                <%- partial('_partial/footer') %>
            </div>
        </div>
    </body>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W65DKSS');</script>
    <!-- End Google Tag Manager -->

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W65DKSS"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?48b1f00fab9081315e9bec0645cb2d7b";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
</html>